*{margin: 0;    
  padding: 0;}
  
body {font-family: "Calibri", verdana;    
	  background-color: #ffffff;    
	  color: #000000;    
	  font: 16px "Calibri", verdana;}
	 
a {color: #ffa406;}    
a:visited {color: #ef4a37;}    
a:hover {color: #11d3b6;}

hr {border-color: #004068;}

/*Footer*/
#footer {text-align: center;    
		 font-size: 10pt;    
		 line-height: 100%;}
		 
.center-column {text-align: center;}

#view-submission {text-align: center;}

#user-submissions {text-align: center;}

.submission-grid {margin-left: auto;    
				  margin-right: auto;}    
				  
.submission-grid .submission {width: 150px;        
							height: 150px;        
							display: inline-block;    }
							
.center-image {margin-left: auto;    
			   margin-right: auto;    
			   display: block;}