@import url('common.css');

body {background-image: url('./images/eye.png');
	  background-position:107% 107%;
	  background-attachment:fixed;
	  background-repeat:no-repeat;
	  background-size:250px 250px;

      align-content:center;
}

hr {margin-bottom: 10px;}

h1, h2 {//text-shadow: 2px 2px 4px #040404;
	margin: 5px;
	margin-bottom: 20px;}

p, ol {margin: 0px;
       margin-left:0px;
       margin-bottom:20px;
}
ol {margin-left: 00px;}

strong {color: black;
		font-size: 14pt;
		font-weight: bold;}

#container {width: 70%;
			margin: 0px auto;
			line-height: 130%;
			min-width: 800px;
            max-width:800;
}
			
#wrapper {position: relative; height: 140px;}

/*header*/
#header {position: absolute; left: 0; bottom:15px;}
#facebook-icon {position: absolute;
				right: 0px;
				bottom: 40px;
				overflow: auto;}

/*navigation*/
#nav {font-size: 18pt;
	  font-weight: bold;
	  //text-shadow: 2px 2px 4px black;
	  position: absolute;
	  right: 0; bottom: 0;
	  }

#nav ul {overflow: auto;
		 list-style-type: none;}
		 
#nav li {height: 25px;
		 float: left;
		 margin-right: 0px;
		 padding: 0 20px;
		 color: #ff8585;
		 border: none;}

#nav li:last-child {border-right: none;}

#nav a {text-decoration: none;
		color: #da3926;}
		
#nav a:visited {color: #da3926;}
		  
#nav a:hover {    color: #892525;
				transition-property:color;
	  -moz-transition-property:color;
	  -webkit-transition-property:color;
	  -o-transition-property:color;
	  
	  transition-duration: .2s;
	  -moz-duration: .2s;
	  -webkit-duration: .2s;
	  -o-transition: .2s;}
					
/*Login*/
#daily-theme {    //margin: 3px;
			  padding: 3px;
			 // margin-left: 40px;
			  font-size: 17pt;
			  font-style: italic;
			  font-weight: bold;
			  color: #f37808;}

#login {clear: both;}

#photo-button {margin-left: 20px;
			   background: url(images/button-orange.jpg) repeat-x;}
		
/*Main content*/
#content {//margin-left: 100px;
		  //margin-right: 100px;
		  padding: 2px 10px;
		  background-color: white;}
		  
/*Form*/
form input {border-width: 2px;
			border-color: black;
			margin: 2px;
			padding:4px;
			background-color: #f5f5f5;
			color: black;}
			
form input:focus {outline-color: #ff8585}



.aligned-form input:not([type=submit]){width: 180px;
					margin-bottom: 5px;}
					
.aligned-form label {float: left;
					 width: 150px;
					 font-weigth: bold;
					 }

.input-text {height: 18px;
			 font-family: sans-serif;
			 line-height: 18px;}

#register-login-content
{
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	height:300px;
}
#register-side
{
	float:left;
	border-right:#ff8585 1px solid;
}
#login-side
{
	float:right;
}

/*Table*/
table { width: 90%;
		margin: 10px;
		border-spacing: 0px}
	   
th, td {padding: 3px;
		margin: 0px;
		text-align: center;}
		
th {border-top: 1px solid black;
		border-bottom: 2px solid black;
		border-collapse: collapse;
		background-color: #252525;}
		
td {border-bottom: 2px solid black;
	border-collapse: collapse;}
		
th {color: white;}

#column-1 {width: 33%;
			 float: left;}
			 
			  
#column-2 {width: 33%;
			   float: left;}
			 
#column-3 {width: 33%;
			  float: right;}
	
/* Misc classes*/
.button {margin-bottom: 2px;
		color: white;
		background: url(images/button-red.jpg) repeat-x;  
		width: 60px;
		padding:6px 4px;  
		text-align:center;  
		border:1px solid #892525;  
		//text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
		font-weight:bold;  
		border-radius: 5px;  
		text-decoration: none;  
		opacity:.85;}
				
.button:hover {border-color: white;
			   color: white;}

.button:active {background-position:  0 -200px;  
					text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);}
					
.button:visited {color: white;}
					
.mobile-only {display: none;}
					
.left-column {float: left;}
.right-column {float:right;}

.indented-heading {margin-left: 0px;}

#user-photo
{
	max-width:600px;
	max-height:600px;
}

.game-dates li
{
	list-style:none;
	list-style-type:none;
	display:inline;
	margin-left:0px;
	font-size:85%;
}
