@import url('common.css');

ol {margin-left: 25px;}

/*navigation*/
#facebook-icon {display: block;
				margin-left: auto;
				margin-right: auto;}

#nav {font-size: 18pt;
	  font-weight: bold;}
	  
#nav ul {list-style-type: none;
		 text-align: center;
		 width: 100%;}

#nav li {border-top: 2px solid #003f85;
		 border-top-width: 2px;
		 border-color: #003f85;
		 text-decoration: none;}
		 
#nav li a{text-decoration: none;
		  color: #3a8fef;}
		  
#nav li a:hover {color: #3a8fef;}
#nav li a:visited {color: #3a8fef;}

#daily-theme {text-align: center;
			  text-decoration: underline;
			  color: #004ea6;}
		 
form input:not([type=submit]) {display:block;
			margin: 5px;}

.desktop-only {display:none;}

.button:not(input) {font-weight: bold;
					color: #003f85;} 
					
#photo-button {display: block;
			   color: #0072ff;
			   border: 2px solid #0072ff;
			   text-decoration: none;
			   text-align: center;
			   margin-left: 40px;
			   margin-right: 40px;
			   margin-top: 10px;}
			   
#register-side {margin-bottom: 10px;}
#login-side {margin-top: 10px;} 

.row-light {background-color: #373737;
		  padding-top: 5px;
		  padding-bottom: 5px;}
		  
table {text-align: center;
	   margin-left: auto;
	   margin-right: auto;}

table th, td{padding: 5px;
			 text-align: center;
			 padding-left: 50px;
			 padding-right: 50px;}

table th {color: white;	   background-color: #343434;}

#user-photo
{
	max-width:300px;
	max-height:300px;
}

			 